{% extends "../../Docker/base-proxy.twig" %}

{% block services %}

    {% embed "../../Docker/proxy/web.twig" %}{% endembed %}

    {% embed "../../Docker/proxy/mysql.twig" %}{% endembed %}

    {% embed "../../Docker/proxy/adminer.twig" %}{% endembed %}

{% endblock %}