{% extends "../../Docker/base-resolvable.twig" %}

{% block services %}

    {% embed "../../Docker/resolvable/web.twig" %}{% endembed %}

    {% embed "../../Docker/resolvable/mysql.twig" %}{% endembed %}

    {% embed "../../Docker/resolvable/adminer.twig" %}{% endembed %}

{% endblock %}