<?xml version="1.0"?>
<config>
    <global>
        <install>
            <date><![CDATA[{{ installDate }}]]></date>
        </install>
        <crypt>
            <key><![CDATA[{{ key }}]]></key>
        </crypt>
        <disable_local_modules><![CDATA[false]]></disable_local_modules>
        <resources>
            <db>
                <table_prefix><![CDATA[]]></table_prefix>
            </db>
            <default_setup>
                <connection>
                    <host><![CDATA[{{ db['host'] }}]]></host>
                    <username><![CDATA[{{ db['username'] }}]]></username>
                    <password><![CDATA[{{ db['password'] }}]]></password>
                    <dbname><![CDATA[{{ db['name'] }}]]></dbname>
                    <initStatements><![CDATA[SET NAMES utf8]]></initStatements>
                    <model><![CDATA[mysql4]]></model>
                    <type><![CDATA[pdo_mysql]]></type>
                    <pdoType><![CDATA[]]></pdoType>
                    <active><![CDATA[1]]></active>
                </connection>
            </default_setup>
        </resources>
        <session_save><![CDATA[{{ session }}]]></session_save>
        <composer_vendor_path><![CDATA[{{ composer['vendor'] }}]]></composer_vendor_path>

    {% if composer['psr0'] %}
        <psr0_namespaces>
            {% for psr0 in composer['psr0'] %}
                <{{ psr0 }}/>
            {% endfor %}
        </psr0_namespaces>
    {% endif %}

    {% if redis_session != '' %}
        <redis_session>
            <host><![CDATA[{{ redis_session['host'] }}]]></host>
            <port><![CDATA[{{ redis_session['port'] }}]]></port>
            <password><![CDATA[]]></password>
            <timeout><![CDATA[2.5]]></timeout>
            <persistent><![CDATA[]]></persistent>
            <db><![CDATA[2]]></db>
            <compression_threshold><![CDATA[2048]]></compression_threshold>
            <compression_lib><![CDATA[gzip]]></compression_lib>
            <log_level><![CDATA[1]]></log_level>
            <max_concurrency><![CDATA[6]]></max_concurrency>
            <break_after_frontend><![CDATA[5]]></break_after_frontend>
            <break_after_adminhtml><![CDATA[30]]></break_after_adminhtml>
            <first_lifetime><![CDATA[600]]></first_lifetime>
            <bot_first_lifetime><![CDATA[60]]></bot_first_lifetime>
            <bot_lifetime><![CDATA[7200]]></bot_lifetime>
            <disable_locking><![CDATA[{{ disableSessionLocking }}]]></disable_locking>
            <min_lifetime><![CDATA[60]]></min_lifetime>
            <max_lifetime><![CDATA[2592000]]></max_lifetime>
        </redis_session>
    {% endif %}
    {% if redis_cache != '' %}
        <cache>
            <backend><![CDATA[Cm_Cache_Backend_Redis]]></backend>
            <backend_options>
                <server><![CDATA[{{ redis_cache['host'] }}]]></server>
                <port><![CDATA[{{ redis_cache['port'] }}]]></port>
                <persistent><![CDATA[magento-cache]]></persistent>
                <database><![CDATA[0]]></database>
                <password><![CDATA[]]></password>
                <force_standalone><![CDATA[0]]></force_standalone>
                <connect_retries><![CDATA[10]]></connect_retries>
                <read_timeout><![CDATA[20]]></read_timeout>
                <automatic_cleaning_factor><![CDATA[0]]></automatic_cleaning_factor>
                <compress_data><![CDATA[1]]></compress_data>
                <compress_tags><![CDATA[1]]></compress_tags>
                <compress_threshold><![CDATA[2048]]></compress_threshold>
                <compression_lib><![CDATA[gzip]]></compression_lib>
                <use_lua><![CDATA[0]]></use_lua>
            </backend_options>
        </cache>
    {% endif %}
    {% if redis_fpc %}
        <full_page_cache>
            <backend><![CDATA[Cm_Cache_Backend_Redis]]></backend>
            <backend_options>
                <server><![CDATA[{{ redis_fpc['host'] }}]]></server>
                <port><![CDATA[{{ redis_fpc['port'] }}]]></port>
                <persistent></persistent>
                <database><![CDATA[1]]></database>
                <password></password>
                <force_standalone><![CDATA[0]]></force_standalone>
                <connect_retries><![CDATA[10]]></connect_retries>
                <read_timeout><![CDATA[20]]></read_timeout>
                <lifetimelimit><![CDATA[86400]]></lifetimelimit>
                <compress_data><![CDATA[1]]></compress_data>
                <compress_tags><![CDATA[1]]></compress_tags>
                <compress_threshold><![CDATA[2048]]></compress_threshold>
                <compression_lib><![CDATA[gzip]]></compression_lib>
            </backend_options>
        </full_page_cache>
    {% endif %}
    <remote_addr_headers>
        <header1><![CDATA[HTTP_X_REAL_IP]]></header1>
        <header2><![CDATA[HTTP_X_FORWARDED_FOR]]></header2>
    </remote_addr_headers>
    {% if disableModuleUpdate %}
        <skip_process_modules_updates>1</skip_process_modules_updates>
    {% endif %}
</global>
<admin>
<routers>
    <adminhtml>
        <args>
            <frontName><![CDATA[{{ admin }}]]></frontName>
        </args>
    </adminhtml>
</routers>
</admin>
</config>
