version: '3.0'
services:

    {% block services %}

        {% embed "./proxy/web.twig" %}{% endembed %}

        {% embed "./proxy/mysql.twig" %}{% endembed %}

        {% embed "./proxy/adminer.twig" %}{% endembed %}

        {% embed "./proxy/redis.twig" %}{% endembed %}

    {% endblock services %}

volumes:
    mysqldata:
      driver: local

networks:
    web_proxy:
      external: true
