version: '3.0'
services:
    {% block services %}

        {% embed "./resolvable/web.twig" %}{% endembed %}

        {% embed "./resolvable/mysql.twig" %}{% endembed %}

        {% embed "./resolvable/redis.twig" %}{% endembed %}

    {% endblock services %}

volumes:
    mysqldata:
        driver: local