APP_NAME={{ name }}
APP_ENV={{ env }}
APP_KEY={{ key }}
APP_DEBUG={{ debug }}
APP_URL={{ url }}

LOG_CHANNEL={{ logChannel }}

DB_CONNECTION={{ db['connection'] }}
DB_HOST={{ db['host'] }}
DB_PORT={{ db['port']|default('3306') }}
DB_DATABASE={{ db['name'] }}
DB_USERNAME={{ db['username'] }}
DB_PASSWORD={{ db['password'] }}

BROADCAST_DRIVER=log
CACHE_DRIVER={{ cache }}
SESSION_DRIVER={{ session }}
SESSION_LIFETIME=120
QUEUE_DRIVER={{ queue }}

REDIS_HOST={{ redis['host'] }}
REDIS_PASSWORD={{ redis['password'] }}
REDIS_PORT={{ redis['port'] }}

MAIL_DRIVER={{ db['driver'] }}
MAIL_HOST={{ db['host'] }}
MAIL_PORT={{ db['port'] }}
MAIL_USERNAME={{ db['username'] }}
MAIL_PASSWORD={{ db['password'] }}
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"