<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

/** Base URL */
define('WP_HOME','{{ url }}');
define('WP_SITEURL','{{ url }}');

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ db['name'] }}');

/** MySQL database username */
define('DB_USER', '{{ db['user'] }}');

/** MySQL database password */
define('DB_PASSWORD', '{{ db['password'] }}');

/** MySQL hostname */
define('DB_HOST', '{{ db['host'] }}');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '{{ keys['authKey'] }}');
define('SECURE_AUTH_KEY',  '{{ keys['secureAuthKey'] }}');
define('LOGGED_IN_KEY',    '{{ keys['loggedInKey'] }}');
define('NONCE_KEY',        '{{ keys['nonceKey'] }}');
define('AUTH_SALT',        '{{ keys['authSalt'] }}');
define('SECURE_AUTH_SALT', '{{ keys['secureAuthSalt'] }}');
define('LOGGED_IN_SALT',   '{{ keys['loggedInSalt'] }}');
define('NONCE_SALT',       '{{ keys['nonceSalt'] }}');

/**#@-*/

/**
* WordPress Database Table prefix.
*
* You can have multiple installations in one database if you give each
* a unique prefix. Only numbers, letters, and underscores please!
*/
$table_prefix  = '{{ db['prefix'] }}';

/**
* For developers: WordPress debugging mode.
*
* Change this to true to enable the display of notices during development.
* It is strongly recommended that plugin and theme developers use WP_DEBUG
* in their development environments.
*
* For information on other constants that can be used for debugging,
* visit the Codex.
*
* @link https://codex.wordpress.org/Debugging_in_WordPress
*/
define('WP_DEBUG', {{ debug ? 'false' : 'true' }});

/* Multisite */
define('WP_ALLOW_MULTISITE', {{ multisite['allowMultisite'] }} );
{% if multisite['allowMultisite'] is same as(true) or multisite['allowMultisite'] == 'true' %}
define('MULTISITE', {{ multisite['multisite'] }} );
define('SUBDOMAIN_INSTALL', {{ multisite['subdomainInstall'] }});
define('DOMAIN_CURRENT_SITE', '{{ multisite['domainCurrentSite'] }}');
define('PATH_CURRENT_SITE', '{{ multisite['pathCurrentSite'] }}');
define('SITE_ID_CURRENT_SITE', {{ multisite['siteIdCurrentSite'] }});
define('BLOG_ID_CURRENT_SITE', {{ multisite['blogIdCurrentSite'] }});
{% endif %}

{%  if WP_FORCE_UPDATE == false %}
/* Automatic update */
define( 'AUTOMATIC_UPDATER_DISABLED', true );
{% endif %}

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');