
    adminer:
        container_name: "{{ name }}-adminer"
        image: clue/adminer
        networks:
            - default
            - web_proxy
        ports:
            - 80
        links:
            - mysql:{{ db['host'] }}