
    web:
        container_name: "{{ name }}"
        image: "bitbull/webserver-dev:php7.1"
        networks:
            - web_proxy
            - default
        environment:
            WEB_DOCUMENT_ROOT: /var/www/html/{{ publicPath }}
            VIRTUAL_HOST: {{ name }}.dev
        ports:
            - "80"
        volumes:
            - .:/var/www/html
            - ~/.composer/auth.json:/root/.composer/auth.json:ro
            - ~/.ssh/id_rsa:/root/.ssh/id_rsa:ro
            - ~/.ssh/id_rsa.pub:/root/.ssh/id_rsa.pub:ro
        links:
            - mysql:{{ db['host'] }}