
    mysql:
        container_name: "{{ name }}-db"
        image: "mysql"
        network_mode: "bridge"
        environment:
            - MYSQL_RANDOM_ROOT_PASSWORD=yes
            - MYSQL_DATABASE={{ db['name'] }}
            - MYSQL_USER={{ db['username'] }}
            - MYSQL_PASSWORD={{ db['password'] }}
        volumes:
            - mysqldata:/var/lib/mysql