# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = "2"
LANDRUSH_HOST = "{{ name }}.dev"
LANDRUSH_TLD = "local"
VM_NAME = "{{ name }}"
#IP_ADDRESS = "10.11.12.97"

REQUIRED_PLUGINS = %w(landrush vagrant-bindfs)

plugins_to_install = REQUIRED_PLUGINS.select { |plugin| not Vagrant.has_plugin? plugin }
if not plugins_to_install.empty?
  puts "Installing plugins: #{plugins_to_install.join(' ')}"
  if system "vagrant plugin install #{plugins_to_install.join(' ')}"
    exec "vagrant #{ARGV.join(' ')}"
  else
    abort "Installation of one or more plugins has failed. Aborting."
  end
end

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|

  # Virtual Machine

  config.vm.box = "bitbull/webserver"
  config.vm.box_version = "1.0.1"
  config.vm.hostname = SITE_URL
  #config.vm.network :private_network, ip: IP_ADDRESS

  # Bindfs

  config.bindfs.bind_folder "/vagrant", "/var/www/html", after: :provision
  config.bindfs.default_options = {
    force_user:   'vagrant',
    force_group:  'www-data',
    perms:        'u=rwX:g=rwD:o=rD'
  }

  # copy composer auth to VM

  config.vm.provision "shell", inline: "mkdir -p /home/vagrant/.composer"
  config.vm.provision "file", source: "~/.composer/auth.json", destination: "/tmp/composer_auth.json"
  config.vm.provision "file", source: "~/.ssh/id_rsa", destination: "/tmp/id_rsa"
  config.vm.provision "file", source: "~/.ssh/id_rsa.pub", destination: "/tmp/id_rsa.pub"

  # launch various commands including composer global install and magento setup

  config.vm.synced_folder ".", "/vagrant", type: "nfs", mount_options: [ 'nolock', 'vers=3', 'tcp', 'fsc', 'rw', 'noatime']
  config.vm.provider :virtualbox do |vb|
    vb.memory = 2048
    vb.cpus = 32
    vb.name = VM_NAME
    #vb.gui = true
  end

  # Landrush

  if Vagrant.has_plugin? 'landrush'
    config.landrush.enable
    config.landrush.tld = LANDRUSH_TLD
    config.landrush.host LANDRUSH_HOST
    #config.landrush.guest_redirect_dns = false
  end

  # SSH

  config.ssh.username = "vagrant"
  config.ssh.password = "vagrant"
  config.ssh.forward_agent = true

end
