image: bitbull/webserver
pipelines:
  default:
    - step:
        name: Test
        caches:
          - composercache
        script:
          - bb-cli --config=./.bb-cli.{{ env }}.yml app:build --noDev=false
          - bb-cli --config=./.bb-cli.{{ env }}.yml pipeline:check-grumphp
          - bb-cli --config=./.bb-cli.{{ env }}.yml pipeline:test-phpunit

  custom:
    {% for env in envs %}

    {{ loop.index }}_{{ env }}:
      - step:
          name: Test
          caches:
            - composercache
          script:
            - bb-cli --config=./.bb-cli.{{ env }}.yml app:build --noDev=false
            - bb-cli --config=./.bb-cli.{{ env }}.yml pipeline:check-grumphp
            - bb-cli --config=./.bb-cli.{{ env }}.yml pipeline:test-phpunit
      - step:
          name: Build
          caches:
            - composercache
          artifacts:
            - ./**
          script:
            - bb-cli --config=./.bb-cli.{{ env }}.yml app:build
            - bb-cli --config=./.bb-cli.{{ env }}.yml app:config-generate
            - bb-cli --config=./.bb-cli.{{ env }}.yml app:clean
      - step:
          name: Deploy
          script:
          {% if docker %}
            - bb-cli --config=./.bb-cli.{{ env }}.yml pipeline:deploy-docker
          {% endif %}
          {% if dockerComposeUI %}
            - bb-cli --config=./.bb-cli.{{ env }}.yml pipeline:deploy-dockercomposeui
          {% endif %}
          {% if codeDeploy %}
            - bb-cli --config=./.bb-cli.{{ env }}.yml pipeline:deploy-codedeploy
          {% endif %}
          {% if remoteSsh %}
            - bb-cli --config=./.bb-cli.{{ env }}.yml pipeline:remote-ssh
            - bb-cli --config=./.bb-cli.{{ env }}.yml pipeline:release-install
            - bb-cli --config=./.bb-cli.{{ env }}.yml pipeline:release-activate
          {% endif %}
          {% if sftp %}
            - bb-cli --config=./.bb-cli.{{ env }}.yml pipeline:remote-ssh
          {% endif %}

    {% endfor %}

definitions:
  caches:
    composercache: ~/.composer/cache
