{% extends "../../Docker/base-resolvable.twig" %}

{% block services %}

    {% embed "../../Docker/resolvable/web.twig" %}{% endembed %}

    {% embed "../../Docker/resolvable/mysql.twig" %}{% endembed %}

    {% embed "../../Docker/resolvable/adminer.twig" %}{% endembed %}

    {% embed "../../Docker/resolvable/redis.twig" %}{% endembed %}

    event-listener:
        container_name: "{{ name }}-event-listener"
        networks:
            - web_proxy
            - default
        image: "bitbull/webserver-dev:php7.1"
        volumes:
         - .:/var/www/html
        entrypoint: php artisan queue:listen

    job-worker:
        container_name: "{{ name }}-job-worker"
        networks:
            - web_proxy
            - default
        image: "bitbull/webserver-dev:php7.1"
        volumes:
         - .:/var/www/html
        entrypoint: php artisan queue:work --delay 5 --tries 1

    cron-scheduler:
        container_name: "{{ name }}-cron-scheduler"
        networks:
            - web_proxy
            - default
        image: "bitbull/webserver-dev:php7.1"
        volumes:
         - .:/var/www/html
         - ./crontab:/crontab

{% endblock %}