{% extends "../../Docker/base-proxy.twig" %}

{% block services %}

    {% embed "../../Docker/proxy/web.twig" %}{% endembed %}

    {% embed "../../Docker/proxy/mysql.twig" %}{% endembed %}

    {% embed "../../Docker/proxy/adminer.twig" %}{% endembed %}

    {% embed "../../Docker/proxy/redis.twig" %}{% endembed %}

    event-listener:
        container_name: "{{ name }}-event-listener"
        network_mode: "bridge"
        image: "bitbull/webserver-dev:php7.1"
        volumes:
         - .:/var/www/html
        entrypoint: php artisan queue:listen

    job-worker:
        container_name: "{{ name }}-job-worker"
        network_mode: "bridge"
        image: "bitbull/webserver-dev:php7.1"
        volumes:
         - .:/var/www/html
        entrypoint: php artisan queue:work --delay 5 --tries 1

    cron-scheduler:
        container_name: "{{ name }}-cron-scheduler"
        network_mode: "bridge"
        image: "bitbull/webserver-dev:php7.1"
        volumes:
         - .:/var/www/html
         - ./crontab:/crontab

{% endblock %}