<?php
$varnishFile = '{{ varnishHostsConfigFile }}';
$varnishConfig = [];
if(file_exists($varnishFile)){
  $varnishConfig = (include $varnishFile);
}

return array(
    'backend' => array(
        'frontName' => '{{ admin }}'
    ),
    'crypt' => array(
        'key' => '{{ key }}'
    ),
{% if memcached_session['host'] %}
    'session' => array(
        'save' => '{{ memcached_session['driver'] }}',
        'save_path' => '{{ memcached_session['driver'] == 'memcache' ? 'tcp://' : '' }}{{ memcached_session['host'] }}:{{ memcached_session['port'] }}',
    ),
{% else %}
    'session' => array(
        'save' => 'redis',
        'redis' => array(
            'host' => '{{ redis_session['host'] }}',
            'port' => '{{ redis_session['port'] }}',
            'password' => '{{ redis_session['password'] }}',
            'timeout' => '2.5',
            'persistent_identifier' => '',
            'database' => '2',
            'compression_threshold' => '{{ redisSessionCompressionThreshold }}',
            'compression_library' => '{{ redisSessionCompressionLib }}',
            'log_level' => '1',
            'max_concurrency' => '6',
            'break_after_frontend' => '5',
            'break_after_adminhtml' => '30',
            'first_lifetime' => '600',
            'bot_first_lifetime' => '60',
            'bot_lifetime' => '7200',
            'disable_locking' => '{{ disableSessionLocking ? '1' : '0' }}',
            'min_lifetime' => '60',
            'max_lifetime' => '2592000'
        )
    ),
{% endif %}
    'db' => array(
        'table_prefix' => '',
        'connection' => array(
            'default' => array(
                'host' => '{{ db['host'] }}',
                'dbname' => '{{ db['name'] }}',
                'username' => '{{ db['username'] }}',
                'password' => '{{ db['password'] }}',
                'active' => '1',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;'
            )
        )
    ),
    'resource' => array(
        'default_setup' => array(
            'connection' => 'default'
        )
    ),
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => '{{ env }}',
    'cache_types' => array(
        'config' => {{ cache ? '1' : '0' }},
        'layout' => {{ cache ? '1' : '0' }},
        'block_html' => {{ cache ? '1' : '0' }},
        'collections' => {{ cache ? '1' : '0' }},
        'reflection' => {{ cache ? '1' : '0' }},
        'db_ddl' => {{ cache ? '1' : '0' }},
        'eav' => {{ cache ? '1' : '0' }},
        'config_integration' => {{ cache ? '1' : '0' }},
        'config_integration_api' => {{ cache ? '1' : '0' }},
        'full_page' => {{ cache ? '1' : '0' }},
        'translate' => {{ cache ? '1' : '0' }},
        'config_webservice' => {{ cache ? '1' : '0' }},
        'compiled_config' => {{ cache ? '1' : '0' }},
        'customer_notification' => {{ cache ? '1' : '0' }},
{% for value in additionalCache %}
        '{{ value }}' => {{ cache ? '1' : '0' }},
{% endfor %}
    ),
    'cache' => array(
        'frontend' => array(
            'default' => array(
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => array(
                'server' => '{{ redis_cache['host'] }}',
                'database' => '0',
                'port' => '{{ redis_cache['port'] }}',
{% if enableRedisCacheCompression %}
                'compress_data' => '1',
                'compress_tags' => '1',
                'compress_threshold' => '{{ redisCacheCompressionThreshold }}',
                'compression_lib' => '{{ redisCacheCompressionLib }}',
{% endif %}
                'connect_retries' => '{{ redisConnectRetries }}'
            )
        ),
        'page_cache' => array(
            'backend' => 'Cm_Cache_Backend_Redis',
            'backend_options' => array(
                    'server' => '{{ redis_fpc['host'] }}',
                    'port' => '{{ redis_fpc['port'] }}',
                    'database' => '1',
{% if enableRedisFpcCompression %}
{% if isEnterprise %}
                    'compress_data' => '0',
{% else %}
                    'compress_data' => '1',
{% endif %}
                    'compress_tags' => '1',
                    'compress_threshold' => '{{ redisCacheCompressionThreshold }}',
                    'compression_lib' => '{{ redisCacheCompressionLib }}',
{% else %}
                    'compress_data' => '0',
{% endif %}
                    'connect_retries' => '{{ redisConnectRetries }}'
                )
            )
        )
    ),
    'install' => array(
        'date' => '{{ installDate }}'
    ),
    'http_cache_hosts' => $varnishConfig
);
